.tasks-list ul{
  list-style-type: none;
  background-color: #fff;
  padding: 10px 30px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: rgb(158, 158, 158);
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  box-shadow:0 2px 8px #00000017;
  max-height: 60vh;
  overflow-y: auto;
}